/* =========================
   NAVBAR
========================= */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* =========================
   LOGO
========================= */


.navbar-logo img {
  width: 150px;
}

/* =========================
   LINKS
========================= */

.navbar-links {

  display: flex;

  align-items: center;

  gap: 26px;
}

.navbar-links a {

  text-decoration: none;

  color: #4b5563;

  font-weight: 600;

  transition: 0.2s;
}

.navbar-links a:hover {

  color: #2563eb;
}

/* =========================
   RESPONSIVO
========================= */

@media (max-width: 700px) {

  .navbar {

    flex-direction: column;

    gap: 18px;

    padding: 20px;
  }

  .navbar-links {

    flex-wrap: wrap;

    justify-content: center;
  }
}