.modulos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px 40px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1232px;
  margin-top: 32px;
}
.cabecalho p {
  color: var(--neutro-500);
}

.btn_ordenar {
  background: none;
  border: none;
  border-radius: 4px;
  color: var(--neutro-400);
  cursor: pointer;
}
.btn_ordenar svg {
  margin-right: 8px;
}
.cards_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1232px;
  width: 100%;
  padding: 40px 0 0 0;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
  row-gap: 24px;
}
.paginacao_controls {
  color: var(--neutro-500);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.paginacao_controls button {
  background: none;
  border: none;
  color: var(--neutro-500);
  font-size: 16px;
  cursor: pointer;
}
.paginacao_controls button:hover {
  opacity: 0.7;
}
.paginacao_controls button.active {
  background: var(--roxo-principal);
  border-radius: 4px;
  color: var(--roxo-claro-03);
  display: flex;
  width: 28px;
  height: 28px;
  padding: 8px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ferramentas_page_container {
  padding: 0 0 32px;
}
@media (max-width: 768px) {
  .ferramentas_page_container {
    padding: 0 0 32px;
  }

  .cards_grid {
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
    gap: 24px;
  }
  .cabecalho {
    width: 100%;
    gap: 16px;
    margin: 0;
    padding: 0 0 24px 0;
  }
}
